@import url('https://fonts.googleapis.com/css?family=Open+Sans');



/* .forgetpassword-page-fullbox{
    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 0%, 0.25), -10px -10px 20px 0px hsla(236, 34%, 61%, 0.25);
background-color: white;
border-radius: 15px;
} */

.input-field-forget {
    width: 120%;
    height: 50px;

    text-align: 10px;
    padding-left: 50px;
    border: 100px;
    background-color: #F3F3F3;
    color: #928e8e;
    border-radius: 0 !important;
    font-size: 13px;
}


.forgot-input-svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: hsla(0, 0%, 0%, 0.6);
}


.forgot-inputbox {
    background-color: #787DBD;
    padding-left: 5px;
    margin-top: -10px;
}

.forgetinput-icons {

    margin-top: 20px;
    margin-bottom: 20px;
}



.forgot-text-color {
    color: #636060;
    font-size: 14px;
    margin-top: 10px;
}

.forget-form {
    margin-left: 22%;
    margin-top: 50px;
    margin-right: 22%;
}



.forgot-logo {

    margin-top: 120px;
    right: 80px;
    width: 260px;
    height: 40px;
    display: inline-block;
    z-index: 1;
    cursor: default;
    margin-bottom: 25px;
}



.forget-input-container {
    position: relative;
    margin-top: -10px;
    font-size: 10px;
}


.forget-input4 {
    padding-left: 40px;
    width: 300px;
    height: 50px;
    font-size: 13px;
}



.forgot-background-image {
    background-image: url('../../../img/loginbackgroud.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
}



.forgetpassword-page-fullbox {
    border-radius: 15px;
    box-shadow: 10px 10px 20px 0px hsla(0, 0%, 0%, 0.25), -10px -10px 20px 0px hsla(236, 34%, 61%, 0.25);
    background-color: hsla(0, 0%, 100%, 1);
}





.forgot-inputbox {
    background-color: #787DBD;
    padding-left: 5px;

}

.forgot-button {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    padding: 13px;
    background-color: hsla(236, 34%, 61%, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 17px;
    font-weight: 800;
    border-radius: 10px;
}

.forgot-button:hover {
    background-color: rgb(103, 107, 169);
    color: white;
}




.forgot-image-text,
.forgot-image-text1 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


@media (max-width: 1000px) {
    .forgetpassword-page-fullbox {
        flex-direction: column !important;
        align-items: center !important;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .forgotpage-first-box {
        display: none !important;
    }

    .forgot-logo {

        margin-top: 80px;
        right: 80px;
        width: 260px;
        height: 40px;
        display: inline-block;
        z-index: 1;
        cursor: default;
        margin-bottom: 25px;
    }
}


.forgot-text-icon {
    margin-top: -10px;
    margin-left: 4px;
    font-weight: 1000;
    cursor: default;
}