
.subscription{
    width: 100%;
    height: calc(100vh - 64px);
    overflow: auto;
}

.stripe_btn{
    padding: 20px;
border-radius: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 320px;
}

.subscription_div{
    margin-left: 300px;
}