/* .back-button-icon-timesheet-i{
    font-size: 24px;
    color: #787DBD;
} */
.back-button-icon-timesheet-icon {
    margin-top: 2px;
}

.back-button-icon-timesheet-p {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 25px;
    font-style: normal; 
    font-weight: 600;
    line-height: normal;
}

/* .employee-week-details {
    background: rgba(243, 243, 243, 0.50);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25), -10px -10px 20px 0px #FFF;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
} */

.employee-name-timesheet-week {
    margin-left: 20px;
}

.employee-name-timesheet-week-label,
.employee-ID-timesheet-week-label,
.employee-status-timesheet-week-label,
.employee-current-date-timesheet-week-label,
.employee-select-week-timesheet-calendar-label {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.employee-reported-hours-timesheet-week-label {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.employee-name-timesheet-week-box-input,
.employee-ID-timesheet-week-box-input {
    /* width: 180px; */
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.employee-status-timesheet-week-box-input {
    width: 160px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.employee-current-date-timesheet-week-box-input {
    width: 205px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.employee-current-date-timesheet-week-box-input-icon {
    margin-top: -3px;
}

.employee-select-week-timesheet-calendar-box-input {
    /* width: 280px; */
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: center;
}

.employee-reported-hours-timesheet-week-box-input {
    text-align: center;
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.timesheet-week-calendar-wrapper-date-picker {
    text-align: center;
    font-size: 12px;
    border: none;
    font-weight: bold;
}
.cursor-pointer{
    cursor: pointer;
}
.custom-date-picker-input{
    display: flex;
    align-items: center;
}
.custom-date-picker-input-arrow{
    background-color: #787DBD;
    border-radius: 15px;
    opacity: 0.5;
}
.custom-date-picker-input-arrow-disable{
    cursor: not-allowed !important;
    background-color: #787DBD;
    border-radius: 15px;
    opacity: 0.5;
}
.custom-date-picker-input-arrow:hover{
    opacity: 1;
}
.custom-date-picker-input-icon {
    margin-top: -3px;
}

.employee-timeoff-timesheet-week-button-btn{
    border-radius: 5px;
    background-color: #3CB371;
}
.employee-timeoff-timesheet-week-button-btn:hover{
    background-color: #3CB371;
}

.employee-timeoff-timesheet-week-button-btn-div{
    color: #F9F9F9;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.employee-details-week-timesheet-heading {
    /* padding: 20px; */
    padding-top: 15px;
    padding-left: 25px;
}

.employee-details-week-timesheet-heading-p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    /* border-radius: 15px;  */
    overflow: hidden;
}

.table-responsive {
    overflow-x: auto;
}

/* .table td {
    padding: 1px;
    
} */
.employee-add-entries-details-week-timesheet {
    margin: 15px;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
@media screen and (max-width: 768px) {
    .employee-add-entries-details-week-timesheet {
     
      overflow-x: auto;
    }
}
.custom-table th,
.custom-table td {
    border: none;
}

.custom-table-header-week-timesheet-entries-project {
    background-color: #787DBD !important;
    /* width: 60px; */
    color: white !important;
    white-space: nowrap;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 16px;
    text-align: start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.custom-table-header-week-timesheet-entries-task {
    background-color: #787DBD !important;
    /* width: 60px; */
    color: white !important;
    white-space: nowrap;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 4px !important;
    /* padding-right: 20px !important; */
    font-size: 16px;
    text-align: start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.custom-table-header-week-timesheet-entries {
    background-color: #787DBD !important;
    /* width: 60px; */
    color: white !important;
    white-space: nowrap;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 16px;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.custom-table-body-week-timesheet-entries {
    text-decoration: none !important;
    /* background-color: #EEECEC !important; */
    border: none !important;
    text-align: center;
}

.timesheet-add-hours-box-label {
    width: 60px;
    text-align: center;

}
.timesheet-week-select-project-id-display-label{
    width: 180px;
    /* height: 50px; */
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.50);
    text-align: start;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.timesheet-week-select-project-id-display-label .css-13cymwt-control {
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.20); */
    border-radius: 0;
}

.timesheet-week-select-project-id-display-label .css-1nmdiq5-menu{
    max-height: 150px; 
    overflow-y: auto;  
}
.timesheet-week-select-project-id-display-label .css-t3ipsp-control{
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.timesheet-week-select-project-id-display-label .css-13cymwt-control .css-1u9des2-indicatorSeparator {
    background-color: transparent;
}
.timesheet-weekly-leave-type-select{
    width: 180px;
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.50);
    text-align: start;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.timesheet-weekly-leave-type-select .css-13cymwt-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.timesheet-weekly-leave-type-select .css-1nmdiq5-menu{
    max-height: 150px; 
    overflow-y: auto;  
}

.timesheet-weekly-leave-type-select .css-t3ipsp-control{
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.timesheet-weekly-leave-type-select .css-13cymwt-control .css-1u9des2-indicatorSeparator {
    background-color: transparent;
}
.timesheet-week-select-task-id-display-label{
    width: 180px;
    margin-top: 14px;
    color: rgba(0, 0, 0, 0.50);
    text-align: start;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.timesheet-week-select-task-id-display-label .css-13cymwt-control {
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.20); */
    border-radius: 0;
}
.timesheet-week-select-task-id-display-label .css-t3ipsp-control{
    background-color: transparent;
}
.timesheet-week-select-task-id-display-label .css-1nmdiq5-menu{
    height: 150px;
    overflow: auto;
}
.timesheet-week-select-task-id-display-label .css-13cymwt-control .css-1u9des2-indicatorSeparator {
    background-color: transparent;
}
/* .timesheet-week-select-project-id-display-label {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #FFF;
    margin-bottom: 60px;
} */
.timesheet-weekly-select-project,
.timesheet-weekly-select-project-description {
    text-align: start;
    padding-top: 20px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    width: 180px;
}
.timesheet-weekly-add-new-pay-type-icon{
    margin-top: 5px;
}
.timesheet-weekly-add-hours-box{
    margin-top: 11px;
}
.timesheet-weekly-add-hours-box-show {
    height: 45px;
    width: 40px;
    margin-left: 23px;
    border: none;
    text-align: center;
    /* background-color: #EEECEC; */
    font-size: 16px;
    color: rgba(0, 0, 0, 0.50);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
}

.timesheet-weekly-add-hours-box-show::-webkit-inner-spin-button,
.timesheet-weekly-add-hours-box-show::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timesheet-weekly-add-new-work-hours-icon-display-delete-icon {
    margin-top: 18px;
    cursor: pointer;
}
.timesheet-weekly-add-total-hours-box{
    margin-top: 11px;
    margin-left: px;
}
.timesheet-weekly-add-total-hours-box-show {
    height: 45px;
    border: none;
    text-align: center;
    /* background-color: #EEECEC; */
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40px;
    outline: none;
    /* padding-left: 25px; */
}

.timesheet-week-regular-hours-calculation{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-right: 9px;
    margin-top: 35px;
}

.timesheet-week-overtime-hours-calculation,
.timesheet-week-total-hours-calculation {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-right: 9px;
    margin-top: 15px;
    /* padding-left: 5px; */
}

.timesheet-week-regular-hours-calculation-final{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    /* padding-right: 40px; */
    margin-top: 35px;
}
.timesheet-week-overtime-hours-calculation-final,
.timesheet-week-total-hours-calculation-final {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    /* padding-right: 40px; */
    margin-top: 15px;
}

/* .custom-table thead th {
    background-color: #787DBD !important; 
    color: white !important; 
    white-space: nowrap;
    padding: 20px ;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.copy-last-week-activity-p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/* .copy-last-week-activity-select-option{

    position: relative;
}
.copy-last-week-activity-select-option-form::-ms-expand {
    display: none;
} */

.react-datepicker__day-names div:first-child {
    display: none !important;
}

.react-datepicker__week-number {
    display: none !important;
}

.copy-last-week-activity-select-option-form {
    color: rgba(0, 0, 0, 0.60);
    width: 220px;
    height: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    /* background: var(--inner_bg, rgba(243, 243, 243, 0.50)); */
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    line-height: normal;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M1 1L6 6L11 1' stroke='black' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 12px;
    background-color: rgba(243, 243, 243, 0.50);
}

.copy-last-week-activity-save-button {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.50) inset;
}

.copy-last-week-activity-save-button-and-icon {
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.25), 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.copy-last-week-activity-save-button-div {
    /* background-color: transparent; */
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timesheet-weekly-button-submit {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    /* background: #38BA7C !important; */
    margin-right: 30px;
    border: 1px solid #38BA7C;
    /* opacity: 0.5; */
}
.timesheet-weekly-button-submit-disabled {
    /* opacity: 0.5; */
    cursor: not-allowed !important;
  }
.timesheet-weekly-button-submit:hover {
    border: 1px solid #38BA7C;
}

.timesheet-weekly-button-submit-div {
    color: #38BA7C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    margin-top: 1px;
}

.timesheet-weekly-button-save {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #787DBD;
    margin-right: 30px;
    /* opacity: 0.5; */
}

.timesheet-weekly-button-save:hover {
    border: 1px solid #787DBD;
}

.timesheet-weekly-button-save-div {
    color: #787DBD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1px;
}

.timesheet-weekly-button-reset {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FF7F7F;

}

.timesheet-weekly-button-reset:hover {
    border: 1px solid #FF7F7F;
}

.timesheet-weekly-button-reset-div {
    color: #FF7F7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1px;
}

/* .timesheet-weekly-button-submit:focus, 
.timesheet-weekly-button-save:focus,
.timesheet-weekly-button-reset:focus{
        background: #787DBD !important;
        color: #ffffff; 
} */
.timesheet-weekly-submit-save-cancel-button {
    margin-right: 25px;
}

.empty-space-color-table {
    height: 30px;
    /* background-color: #EEECEC !important; */
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
#my-tooltip-comment{
    max-width: 500px;
    overflow-wrap: break-word;
    white-space: normal; 
    overflow: hidden;
}
/* .white-space-timesheet {

    height: 40px;
    width: 100%;
    background-color: transparent;
} */


.modal-dialog-weeklyTimesheet {
    margin: 25%;
    position: absolute;
}

.timesheet-weekly-select-project-model {
    width: 400px;
    /* border-radius: 10px;
    background-color: #EEECEC; */
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25), -5px -5px 10px 0px rgba(255, 255, 255, 0.25); */

    border-radius: 5px;
    background: #FFF;
    box-shadow: -5px -5px 5px 0px rgba(14, 153, 197, 0.08), 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.timesheet-weekly-select-project-model-body-close-icon {
    /* display: flex; */

    background-color: #FF7F7F;
    width: 25px;
    height: 25px;
    margin-left: 342px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius: 5px;
}



.timesheet-weekly-select-project-model-title {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.timesheet-weekly-select-project-model-body-value {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.timesheet-weekly-comment-text-model {
    width: 400px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: -5px -5px 5px 0px rgba(14, 153, 197, 0.08), 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.timesheet-weekly-comment-text-model-title-name {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timesheet-weekly-comment-text-model-title-date {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timesheet-weekly-comment-text-model-title-close-icon {
    width: 25px;
    height: 25px;
    /* padding-left: 4.5px; */
    border-radius: 5px;
    background: #FF7F7F;
}

.timesheet-weekly-comment-text-model-title-emptyline {
    width: 350px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0.3;
}

.timesheet-weekly-comment-text-model-share-comment {
    margin-top: 15px;
    margin-right: 17px;
    color: #38BA7C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #38BA7C;
    /* opacity: 0.5; */
}

.timesheet-weekly-comment-textarea-name {
    width: 350px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    resize: none;
    background-color: #FFF;
    /* box-shadow: -5px -5px 5px 0px rgba(14, 153, 197, 0.08), 5px 5px 5px 0px rgba(0, 0, 0, 0.25); */
    color: rgba(0, 0, 0, 0.50);
    padding: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timesheet-weekly-pay-type-select {
    margin-top: 20px;
    height: 30px;
    text-align: center;
    width: 60px;
    font-size: 13px;
    background-color: #787DBD;
    color: #FFF;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding-right: 30px;
    /* background: blue url('arrow.svg') no-repeat right; */
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3.81 4.38 8 8.57l4.19-4.19 1.52 1.53L8 11.62 2.29 5.91l1.52-1.53z'/%3E%3C/svg%3E");
}
.timesheet-weekly-pay-type-select:disabled{
    margin-top: 20px;
    height: 30px;
    text-align: center;
    width: 60px;
    font-size: 13px;
    background-color: #787DBD;
    color: #FFF;
    border-radius: 5px;
    border: none;
    /* margin-left: 10px; */
    margin-left: 30px;
    padding-right: 30px;
    /* background: blue url('arrow.svg') no-repeat right; */
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M3.81 4.38 8 8.57l4.19-4.19 1.52 1.53L8 11.62 2.29 5.91l1.52-1.53z'/%3E%3C/svg%3E");
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

.search-project {
    align-items: end !important;
    /* margin-bottom: 40px !important; */
    margin-left: 200px;
    /* margin-top: 10px; */
    top: -60px;
}

/* .commentpopupModal-timesheet-weekly{
    opacity: 0 !important;
} */
.search-weekly {
    margin-top: -70px;
}

.modal-backdrop {
    opacity: 0 !important;
}


/* .timesheet-weekly-pay-type-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px; 
} */

/* .timesheet-weekly-pay-type-select-custom-dropdown .timesheet-weekly-pay-type-select-custom-dropdown-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
} */

.timesheet-weekly-button-save-disabled-save-button{
    pointer-events: all;
    cursor: not-allowed !important;
  }

/* Revision css code */
.timesheet-weekly-reason-revision-button-btn{
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.60); */
    background: rgba(14, 153, 197, 0.54);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.timesheet-weekly-reason-revision-button-btn:hover{
    background: rgba(14, 153, 197, 0.54);
}

.timesheet-weekly-reason-revision-button-btn-div{
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reasonrevision-modal-dialog{
    /* top: -10%; */
    left: -16%;
}
.timesheet-weekly-reasonrevision-modal-content{
    width: 1000px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.timesheet-weekly-reasonrevision-modal-body{
    width: 950px;
}
.reasonrevisionpopupModal-timesheet-weekly {
    background-color: rgba(255, 255, 255, 0.8);
}
.timesheet-weekly-reasonrevision-model-title-close-icon {
    width: 25px;
    height: 25px;
    padding-left: 4.5px;
    border-radius: 5px;
    background: #FF7F7F;
}

.timesheet-weekly-reasonrevision-modal-title{
    color: rgba(0, 0, 0, 0.60);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.timesheet-weekly-reasonrevision-modal-sub-title{
    color: rgba(0, 0, 0, 0.60);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.timesheet-weekly-reasonrevision-model-title-emptyline{
    width: 200px;
    height: 2px;
    background: rgba(0, 0, 0, 0.60);
}
.timesheet-weekly-revision-label{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.timesheet-weekly-revision-box-input-div{
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 50px;
    text-align: center;
    margin-left: 15px;
    
}
.timesheet-weekly-revision-box-input{
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 50px;
    border: none;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.timesheet-weekly-revision-box-input::-webkit-inner-spin-button,
.timesheet-weekly-revision-box-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.timesheet-weekly-explaination-code-label{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.timesheet-weekly-explaination-code-box-input{
    margin-left: 15px;
}
.timesheet-weekly-explaination-code-box-select-input{
    width: 300px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.timesheet-weekly-brief-explaination-revision-label{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.timesheet-weekly-brief-explaination-revision-comment-textarea-name{
    width: 420px;
    border-radius: 10px;
    border: 1px solid #626463;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.60);
    resize: none;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.timesheet-weekly-additional-information-revision-label{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.timesheet-weekly-additional-information-revision-comment-textarea-name{
    width: 420px;
    border-radius: 10px;
    border: 1px solid #626463;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.60);
    resize: none;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.timesheet-weekly-explaination-submit-model-comment-div{
    margin-top: 40px;
}
.timesheet-weekly-explaination-submit-model-comment{
    border-radius: 5px;
    color: #38BA7C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #38BA7C;
    opacity: 0.5;
}
.timesheet-weekly-explaination-submit-model-comment:hover{
    color: #38BA7C;
    border: 1px solid #38BA7C;
}
.timesheet-weekly-explaination-submit-model-comment-enabled{
    background-color: #38BA7C;
    color: #FFF;
    opacity: 1;
}

.emp-weekly{
    border:none;
    outline:none;
    color:  rgba(0, 0, 0, 0.50);
 
}
